
@import url('https://fonts.googleapis.com/css2?family=Crushed&display=swap');
@import "variables";
@import "mixins";
@import "maps";
@import "queries";

*{
    font-family: $font;
}

/* ¡¡¡¡¡¡¡¡¡¡     HEADER     !!!!!!!!!!! */
header {
    font-family: $font;
    .navbar {
        background-color: $color-nav;
    }
        nav {
            div {
                .navbar-nav {
                     li {
                        font-size: x-large;
                             .nav-link {
                                &:hover {
                                    color: $color-letranav;
                                    transform: scale(1.1);
                                }
                            }
                    }
                }
            }
        }
    }
/*¡¡¡¡¡¡¡¡¡¡     FOOTER     !!!!!!!!!!!!*/

.pie {
    div {
        .titulopie {
            text-decoration: none;
            font-size: 0.7cm; 
            text-align: center;
            margin-top: 100px;
            background-color: $color-nav;
        }
        .redes {
            font-size: 0.5cm; 
            text-decoration: none;
            text-align: center;
            }
        .contact {
            font-size: 0.5cm; 
            text-align: center;
        }
    }
}

/*¡¡¡¡¡¡¡¡¡     TITULOS     !!!!!!!!!!!*/

.titulo {
    color: $color-tituloS;
    font-family: $font;
    margin: 2em;
    font-size: 300%;
}

/*¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡    INDEX    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.body {
    background-image: url(../images/Pauli-portada.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 600px;
    background-position: right;
    background-origin: content-box;
}

/*¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡   MAIN   !!!!!!!!!!!!!!!!!!!!!!!!!*/

main {
    section {
        .container {
            .sale {
                text-decoration: none;
                font-family: $font;
                color: #e470c3;
                font-size: 70px;
                &:hover {
                    color: $color-fondo;
                    transform: scale(2.5);
                }
            }
        }
        .container {
            .off {
                color: rgb(205, 195, 205);
                font-family: $font;
                font-size: 10em;
            }
        }
        div {
            div {
                div {
                    .h1-index {
                        font-size: 0.8cm;
                        font-family: $font;
                        text-shadow: 0px 5px 8px rgba(247, 3, 186, 0.25);
                        text-align: center;
                        color: $color-black;
                        margin-top: 250px;
                        margin-bottom: 100px;
                        z-index: 50px;
                    }
                }
            }
        }
    }
}

/*¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡           PRODUCTOS             !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

main {
    .container2 {
        align-items: center;
        /*display: flex;*/
            .card {
                /*align-items: center;*/
                box-shadow: map-get($card, sombreado);
                background-color: $color-fondo;
                @include card-productos (460px, 900px, 30px);
                /*@media (max-width: 480px) {
                    .card {
                        @include card-productos (480px, 900px, 0px)
                    }
                }*/
                .card-body {
                    margin-top: 0.4cm;
                    .card-title {
                        font-family: $font;
                        color: $color-tituloS;
                        text-align: center;
                        }
                    }
                }
            .card-top {
                align-items: center;
                background-color: $color-fondo;
                box-shadow: map-get($card, sombreado);
                @include card-top (460PX, 340px, 20px);
                .card-body {
                    margin: 0.4cm;
                    .card-title {
                        font-family: $font;
                        color: $color-tituloS;
                        text-align: center;
                        }
                    }
                }
            }
    .container1 {
            .buscarformulario {
                color: $color-black;
                font-family: $font;
                margin: 2em;
                font-size: large;
            }   
        }    
    }

/*¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡             METODOS DE COMPRA            !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

main {
    .card {
        background-color: $color-fondo;
        box-shadow: map-get($card, sombreado);
        .card-body {
            .card-title1 {
                padding: 20px;
                .card-text {
                    font-family: $font;
                    color: $color-black;
                    text-align: center;
                    margin-top: 2em;
                    .listamediospago {
                        font-family: $font;
                        color: $color-black;
                        text-align: center;
                        li {
                            list-style-type: none;
                            text-align: center;
                        }
                    }
                }   
            }
        }
    }
}
/*¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡             NOSOTROS            !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

article {
    .cardn {
        margin: 0.3cm;
        background-color: $color-fondo;
        align-content: center;
        box-shadow: map-get($card, sombreado);
        .card-body {
            .card-text {
                padding: 20px;
                text-align: center;
            }
        }
    }  
} 
.logoentero {
    width: 8cm;
    top: 1000px;
    left: 100px;
    margin-left: 100px;
    box-shadow: map-get($card, sombreado);
}

/*¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡          CONTACTO            !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

main {
    section {
            .mb-3 {
                margin: 50px;
                .form-label {
                    font-family: $font;
                    color: $color-black;
                    margin: 2px;
                    }
                } 
    .comentario {
                font-family: $font;
                color: $color-tituloS;
                margin: 50px 100px;
                font-size: x-large;
                text-align: center;
            }
        }
    } 
